:root {
	--editor-font-size: 12pt;
	--editor-line-size: 14pt;

	--editor-line-background: #F7F7F7;
	--editor-line-active-background: #E7E7E7;

	--editor-num-line-background: #E0E0E0;
	--editor-num-line-active-background: #D0D0D0;
	--editor-num-line-color: #777;
	--editor-num-border-right: 1px solid #B0B0B0;

	--editor-scrollbar-background: #DDD;
	--editor-scrollbar-thumb-background: #777;
	--editor-scrollbar-thumb-active-background: #AAA;
}

body {
	margin: 10px;
}

.editor { /*Общий контейнер редактора*/
	position: absolute;
	left: 10px;
	top: 10px;
	right: 10px;
	bottom: 10px;
	border: 1px solid black;
}

.editor-s { /*Контейнер с полосой прокрутки */
	display: flex !important;
	align-items: flex-start !important;
	position: absolute;
	left: 0;
	top: 0;
	right: 10px;
	bottom: 0;
	overflow: hidden;
	overflow-y: auto;
	overflow-x: auto;
	font-family: "courier";
	font-size: var(--editor-font-size);
	background-color: var(--editor-line-background);
}
.editor-s::-webkit-scrollbar { width: 8px; height: 8px; background-color: var(--editor-scrollbar-background); }
.editor-s::-webkit-scrollbar-corner { background-color: var(--editor-scrollbar-background); }
.editor-s::-webkit-scrollbar-thumb { background-color: var(--editor-scrollbar-thumb-background); }
.editor-s::-webkit-scrollbar-thumb:hover { background-color: var(--editor-scrollbar-thumb-active-background); }

.editor-navigation {
	position: absolute;
	width: 10px;
	height: 100%;
	right: 0;
	background-color: var(--editor-scrollbar-background);
}

.editor-s-text {
	flex-grow: 2;
	min-height: 100%;
	display: block;
	white-space: pre;
	word-wrap: normal;
	box-sizing: border-box;
	padding: 4px 4px 40px 4px;
	/*padding: 4px 4px 0 4px;*/
	outline: none;
	caret-color: black;
	tab-size: 4;
	-o-tab-size: 4; /* Opera */
	-moz-tab-size: 4; /* Firefox */
}

.editor-s-num {
	position: sticky;
	box-sizing: border-box;
	left: 0px;
	z-index: 1;
	padding: 4px 0 40px 1pt;
	background-color: var(--editor-num-line-background);
	min-height: 100%;
	border-right: var(--editor-num-border-right);
	user-select: none;
	color: var(--editor-num-line-color);
}

.num-line {
	display: block;
	background-color: var(--editor-num-line-background);
	padding: 1pt;
	padding-left: 28pt;
	height: var(--editor-line-size);
	white-space: nowrap;
	vertical-align: top;
}

.num-line-active {
	background-color: var(--editor-num-line-active-background);
}

.num-line-val {
	display: inline-block;
	float: right;
	margin-right: 4pt;
}
.num-line-lbl {
	display: inline-block;
	float: left;
	height: var(--editor-font-size);
	margin-left: -24pt;
	margin-top: 1pt;
}
.num-line-lbl-img {
	height: 100%;
}

.line {
	background-color: var(--editor-line-background);
	padding: 1pt;
	min-height: var(--editor-line-size);
	white-space: pre;
}
.line-active {
	background-color: var(--editor-line-active-background);
}

/*
a - attributes
t - type
e - escape char
k - keywords
i - identifiers
l - literals
sp - separators
o - operators
er - error
wr - warning
s - strings
c - comments
d - doc
dd - doc descriptor
*/
.a { color: #00C4FF; }
.k { color: orange;		font-weight: bold; }
.t { color: orange;		font-weight: bold; }
.e { color: #0000FF;	font-style: italic; }
.d { color: #009600;	font-style: italic; }
.dd {
	color: #009600;
	font-weight: bold;
	text-decoration: underline;
	font-style: italic;
}
.i { color: #7F754F; }
.l { color: blue; }
.o { color: #634300;	font-weight: bold; }
.er {
	text-decoration: underline;
	text-decoration-style: wavy;
	text-decoration-color: red;
}
.wr {
	text-decoration: underline;
	text-decoration-style: wavy;
	text-decoration-color: #D6B200;
}
.s { color: #009600;	font-style: italic; }
.c { color: #CCC;		font-style: italic; }
